html{	width: 100vw;
	    height: 100vh;}

body   {background-color: #9EBAC5;
	    margin:0;
	    padding: 0;
	    font-family: "微軟正黑體";
	   	
		}
.header{width: 95vw;
		height:130px;
		text-align: center;
				}
.footer{width: 95vw;
        height: 180px;
		margin: 0px;
		position: fixed;
	    bottom:0;
	    left: 0;
		opacity: 1;
		background-color:#9EBAC5;}		
.bodyy {width: 100vw;
		height:800px;
		margin: 0px;
		
		}
.cycuim{width:650px;
 		height: 130px;
 		padding-top:30px; 
 		}
.div1  {width: 20vw;
		height:100vh;
		float:left;
	    position: fixed;
	    left:0;}
.div2  {float:left;
		width:65vw;
		height: 750px;
		position: absolute;
		top:180px;
        left:24vw;

	    }
.div3{	float:left;
		width:65vw;
		height:1330px;
		position: absolute;
		top:180px;
        left:24vw;
}
.div4{	float:left;
		width:65vw;
		height: 900px;
		position: absolute;
		top:180px;
        left:24vw;}
.div5{	float:left;
		width:65vw;
		height: 800px;
		position: absolute;
		top:180px;
        left:24vw;}
.div6{	float:left;
		width:65vw;
		height: 950px;
		position: absolute;
		top:180px;
        left:24vw;}
.div7{	float:left;
		width:65vw;
		height: 930px;
		position: absolute;
		top:180px;
        left:24vw;}

.futurediv{
		width:65vw;
		height: 1100px;
		position: absolute;
		top:180px;
        left:26vw;
}
.divsport{
		float:left;
		width:65vw;
		height:3950px;
		position: absolute;
		top:180px;
        left:24vw;
}
.formdiv{
		position:absolute;
		top:3280px;
		left:220px;

}
form{	width:550px;
		font-size:18px;
		line-height:50px;
		font-weight: bold;
		color:#313147;}
.formname{
		font-size:28px;
		font-weight: bolder;
		color:#744141;
		position: absolute;
		top:3250px;
		background-color: #D7C1C1;
		border:10px #7E9C84 double;
		border-radius: 40px 10px 40px 10px;
		padding: 10px;
		opacity: 0;
		animation: im 1s 0.5s forwards;
}
.button{text-align:center;
		font-size:20px;
		font-weight: bolder;
		background-color:#323A51 ;
		color:#FFF;
		border-radius: 10px;
		font-family:"微軟正黑體";
		width:120px;
		}
.button:hover{
		color:#323A51;
		background-color:#FFF;
		border:2px #323A51 solid;
		font-weight: bolder;
		font-family:"微軟正黑體";
	}
.buttondiv{
		text-align:center;
}
legend{	font-size:28px;
		color:#465070;
		}
fieldset{border:3px #323A51 dashed;}
.about{	width: 270px;
	 	height: 231px;
	 	position: absolute;
	 	left:245px;
	    top:210px;}	 
.about:hover
	   {transform:scale(1.2);
	   	-webkit-animation:hey .8s infinite ;
		}
		@-webkit-keyframes hey
		{0%{top:200px;}
		50%{top:230px;}
		100%{top:200px;}
		}
.study{ width: 270px;
	 	height: 231px;
	 	position: absolute; 
	    left:50px;
	    top:550px;}
.study:hover
		{transform:scale(1.2);
	   	-webkit-animation:heyy .8s infinite ;
		}
		@-webkit-keyframes heyy
		{0%{top:540px;}
		50%{top:570px;}
		100%{top:540px;}
		}
.imsa{  width: 270px;
	 	height: 231px;
	 	position: absolute;
	 	left:1370px;
	 	top:115px; }
.imsa:hover
		{transform:scale(1.2);
	   	-webkit-animation:heyyy .8s infinite ;
		}
		@-webkit-keyframes heyyy
		{0%{top:105px;}
		50%{top:135px;}
		100%{top:105px;}
		}
.sport{ width: 265px;
	 	height: 231px;
	 	position: absolute;
	 	left:1605px;
	 	top:470px; }
.sport:hover
		{transform:scale(1.2);
	   	-webkit-animation:heyyyy .8s infinite ;
		}
		@-webkit-keyframes heyyyy
		{0%{top:460px;}
		50%{top:490px;}
		100%{top:460px;}
		}	
.v2{	width:672px;
	    height:378px;
	    position: absolute;
	 	left:625px;
	 	top:230px; 
	 	border-radius: 30px;
	 	border: 6px #696E9A dashed ;
	 	
	 	}	 	  
.circle1{width:500px;
	    height:442px;
		position: absolute;
	    left:0px;
	    top:0px;}   
.circle3{width:500px;
	    height:442px;
		position: absolute;
		right:0px;
	    bottom:0px;}	
.more{	width:150px;
	    height:150px;
		position: absolute;
		left:480px;
	    top:435px;
		}	
.more:hover{
		transform:scale(1.1);
		-webkit-animation:jump .8s infinite ;
		}   
		@-webkit-keyframes jump
		{0%{top:425px;}
		50%{top:455px;}
		100%{top:425px;}
		}     
.c	   {width:310px;
		height:280px;
		position: absolute;
		left:390px;
	    top:660px;
		}
.c:hover{
		transform: scale(1.15);
		top:640px;
		}
.y	   {width:310px;
		height:280px;
		position: absolute;
		left:655px;
	    top:660px;
		}
.y:hover{
		transform: scale(1.15);
		top:640px;
		}
.i	   {width:310px;
		height:280px;
		position: absolute;
		left:950px;
	    top:660px;
		}
.i:hover{
		transform: scale(1.2);
		top:630px;
		}
.m	   {width:310px;
		height:280px;
		position: absolute;
		left:1230px;
	    top:660px;
		}
.m:hover{
		transform: scale(1.2);
		top:630px;
		}
.about1{width:310px;
		height:265px;
		position: relative;
	    left:70px;
	    top:-50px;}
.class1{width:310px;
		height:265px;
		position: relative;
	    left:220px;
	    top:-50px;}
.class1:hover{
		transform: scale(1.1);	
		}
.imsa1 {width:320px;
		height:275px;
		position: relative;
	    left:390px;
	    top:-50px;}
.imsa1:hover{
		transform: scale(1.1);	
		}	    
.sport1{width:315px;
		height:270px;
		position: relative;
	    left:550px;
	    top:-35px;}
.sport1:hover{
		transform: scale(1.1);	
		}	   
.what  {width:240px ;
		height:130px ;
		position: absolute;
		left:50px;
		top:0px;
		-webkit-animation:what 1.8s infinite linear;}
		@-webkit-keyframes what
		{0%{transform:translateX(0px);}
		25%{transform:translateX(4px);}
		50%{transform:translateX(0px);}
		75%{transform:translateX(-4px);}
		100%{transform:translateX(-1px);}
		}
.prefer{width:240px ;
		height:130px ;
		position: absolute;
		left:170px;
		top:200px;
		-webkit-animation:what 1.8s infinite linear 0.3s;} 
.future{width:240px ;
		height:200px ;
		position: absolute;
		left:10px;
		top:350px;
		-webkit-animation:what 2s infinite linear 0.5s;}
.profession{
		width:240px;
		height:200px ;
		position: absolute;
		left:80px;
		top:-10px;
		-webkit-animation:what 1.8s 0.3s infinite linear;
		}
.company{
		width:240px;
		height:200px ;
		position: absolute;
		left:40px;
		top:350px;
		-webkit-animation:what 1.8s 0.5s infinite linear;
		}
.important{
		width:300px;
		height:200px ;
		position: absolute;
		left:150px;
		top:175px;
		-webkit-animation:what 1.8s infinite linear;
		}
.new{	width:200px ;
		height:150px ;
		position: absolute;
		left:200px;
		top:0px;
		-webkit-animation:what 1.8s 0.3s infinite linear;
		}		
.dog{	width:200px ;
		height:150px ;
		position: absolute;
		left:50px;
		top:150px;
		-webkit-animation:what 1.8s 0.5s infinite linear;
		}								
.tired{	width:200px ;
		height:150px ;
		position: absolute;
		left:200px;
		top:280px;
		-webkit-animation:what 1.8s 0.8s infinite linear;
		}
.rase{	width:200px ;
		height:150px ;
		position: absolute;
		left:50px;
		top:430px;
		-webkit-animation:what 1.8s infinite linear;
		}	
.basketball{
		width:180px ;
		height:150px ;
		position: absolute;
		left:30px;
		top:-20px;
		-webkit-animation:bk 3s 0.5s linear infinite ;
		}				
		@-webkit-keyframes bk
		{0%{transform:rotate(15deg);}
		25%{transform:rotate(30deg);}
		75%{transform:rotate(-30deg);}
		100%{transform:rotate(15deg);}
		}
.badminton{
		width: 210px;
		height:210px ;
		position: absolute;
		left:170px;
		top:100px;
		-webkit-animation:bm 1.5s 0.3s infinite ;
		}	
		@-webkit-keyframes bm
		{0%{top:90px;}
		50%{top:110px;}
		100%{top:90px;}
		}
.volleyball{
		width: 230px;
		height:230px ;
		position: absolute;
		left:10px;
		top:220px;
		-webkit-animation:bk 3s  linear infinite ;
		}		
		
.sportform{
		width: 150px;
		height:150px ;
		position: absolute;
		left:200px;
		top:410px;
		-webkit-animation:sf 1.5s 0.8s infinite ;
		}		
		@-webkit-keyframes sf
		{0%{top:400px;}
		50%{top:420px;}
		100%{top:400px;}		
		}
.im	{	font-size:28px;
		font-weight: bolder;
		color:#744141;
		position: absolute;
		top:10px;
		background-color: #D7C1C1;
		border:10px #7E9C84 double;
		border-radius: 40px 10px 40px 10px;
		padding: 10px;
		opacity: 0;
		animation: im 1s 0.5s forwards;
		}
		@-webkit-keyframes im
		{0%{opacity: 0;}
		100%{opacity: 1;}
		}
.rase0{	font-size:28px;
		font-weight: bolder;
		color:#744141;
		position: absolute;
		top:180px;
		background-color: #D7C1C1;
		border:10px #7E9C84 double;
		border-radius: 40px 10px 40px 10px;
		padding: 10px;
		opacity: 0;
		animation: im 1s 0.5s forwards;}
.pic{	font-size:28px;
		font-weight: bolder;
		color:#744141;
		position: absolute;
		top:480px;
		background-color: #D7C1C1;
		border:10px #7E9C84 double;
		border-radius: 40px 10px 40px 10px;
		padding: 10px;
		opacity: 0;
		animation: im 1s 0.5s forwards;}
.imp{	position: absolute;
		top:100px;
		font-size: 18px;		
		line-height:50px;
		font-weight: bold;
		color:#313147;
		opacity: 0;
		animation: im 1s 1.5s forwards;}
.imp1{	position: absolute;
		top:100px;
		left: 80px;
		font-size: 18px;		
		line-height:50px;
		font-weight: bold;
		color:#313147;
		opacity: 0;
		animation: im 1s 1.5s forwards;
		}
.rase1{	height: 150px;
		position: absolute;
		top:270px;
		left:100px;
		font-size: 18px;		
		line-height:50px;
		font-weight: bold;
		color:#313147;
		opacity: 0;
		animation: im 1s 1.5s forwards;}
.sportpic{
		position: absolute;
		top:500px;
}
.so{	text-indent: 38px;}
.vs{	position: absolute;
		top:150px;
		left:40px;	
		border:4px #A07B7B dashed;
		border-radius: 5px;
		background-color: #EDE1CC;
		width:310px;
		height:190px;
		opacity: 0;
		animation: im 1s 1.5s forwards;
		}
.vs1{	position: absolute;
		top:150px;
		left:520px;
		border:4px #A07B7B dashed;
		border-radius: 5px;
		background-color: #EDE1CC;
		width:525px;
		height:190px;
		opacity: 0;	
		animation: im 2s 1.5s forwards;	
		}
.vssmall{
		font-size: 18px;
		line-height:60px;
		font-weight: bold;
		color:#313147;
		position: absolute;
		top:55px;
		left:78px;
		}
.vsbig{	font-size: 24px;
		font-weight: bolder;
		color:#6D4859;
		position: absolute;
		top:-30px;
		left:65px;
		background-color: #B8C2E5;
		width:130px ;
		height:30px;
		padding:20px ; 
		border-radius: 80px;
		animation: vs 1s infinite ease-out;
		}
		@-webkit-keyframes vs
		{
		0%{transform:rotate(0deg); }
		25%{transform:rotate(5deg);}
		75%{transform:rotate(-5deg);}
		100%{transform:rotate(0deg);}
		}
.vsbig1{font-size: 24px;
		font-weight: bolder;
		color:#6D4859;
		position: absolute;
		top:-30px;
		left:165px;
		background-color: #B8C2E5;
		width:130px ;
		height:30px;
		padding:20px ; 
		border-radius: 80px;
		animation: vs 1s infinite ease-out;
		}
b:hover{font-size: 22px;
		color:red;}
.ball{	width: 50px;
		height:50px;
		border-radius:50%;
		background-color:#E3CCD0;
		position: absolute;
		top:57px;
		left:15px;
		text-align:center;
		line-height:50px;
		font-size: 20px;
		font-weight: bolder;
		color:#9C4040;
		border:2px #9C4040 solid;
		}
.ballim{width: 50px;
		height:50px;
		border-radius:50%;
		background-color:#D3F1E4;
		position: absolute;
		top:118px;
		left:15px;
		text-align:center;
		line-height:50px;
		font-size: 20px;
		font-weight: bolder;
		color:#3F6B5F;
		border:2px #3F6B5F solid ;

		}
.ballice{
		width: 50px;
		height:50px;
		border-radius:50%;
		background-color:#AEDAEF;
		position: absolute;
		top:57px;
		left:15px;
		text-align:center;
		line-height:50px;
		font-size: 20px;
		font-weight: bolder;
		color:#183DB0;
		border:2px #183DB0 solid;
		}
.gglai{	width: 300px;
		height: 300px;
		padding-top: 30px; 
		border-radius: 25%;		
		}
.han{	width: 230px;
		height: 300px;
		padding-top: 30px; 
		border-radius: 20%;	}
.pig1{	width: 200px;
		height: 200px;
		position: absolute;
		top:270px;
		left:190px;
		animation: vs 1s infinite ease-out;}
.pig2{	width: 200px;
		height: 200px;
		position: absolute;
		top:620px;
		left:190px;
		animation: vs 1s infinite 0.5s ease-out;}
.pig3{	width: 200px;
		height: 200px;
		position: absolute;
		top:270px;
		left:1500px;
		animation: vs 1s infinite ease-out;}
.pig4{	width: 200px;
		height: 200px;
		position: absolute;
		top:620px;
		left:1500px;
		animation: vs 1s infinite 0.5s ease-out;}
.futuretable{
		border:2px #273861 dashed;
		text-align: left;
		width:950px;
		height: 200px ;
		border-collapse: collapse;
		position: absolute;
		left:20px;
		padding: 10px;
		}
.td4{	border-collapse: collapse;
		border:2px  #273861 dashed;
		text-align: left;
		padding-left: 10px;
		padding-right: 10px;
		}
.old{	font-size:28px;
		font-weight: bolder;
		color:#744141;
		position: absolute;
		top:450px;
		background-color: #D7C1C1;
		border:10px #7E9C84 double;
		border-radius: 40px 10px 40px 10px;
		padding: 10px;
		opacity: 0;
		animation: im 1s 0.5s forwards;}
.classtable{
		border:2px #273861 dashed;
		text-align: left;
		width:950px;
		height: 150px ;
		border-collapse: collapse;
		position: absolute;
		top:-10px;
		left:60px;
		padding: 10px;
		margin-top:20px; 
		}
.td0{	border-collapse: collapse;
		border:2px #273861 dashed;
		padding:5px;
		}
.td7{	border-collapse: collapse;
		border:2px #273861 dashed;
		padding:5px;
		width: 80px;
		font-size: 22px;
		background-color:#FFDBB3;
		text-align:center; }
.td8{	border-collapse: collapse;
		border:2px #273861 dashed;
		padding:8px;
		background-color: #EDD9CC;
		}
.td1{	width:150px;
		text-align: center;
		background-color: #5975B4;
		color:#DFDCC6;
		border:2px #273861 dashed;
		border-collapse: collapse;}
.td2{	text-align: center;
		border:2px #273861 dashed;
		background-color: #87BCC5;
		border-collapse: collapse;}
.td3{	width:80px;
		text-align: center;
		background-color: #ADBCE1;
		border:2px #273861 dashed;
		border-collapse: collapse;
		font-size: 22px;
		}
.sporttable{
		border:2px #273861 dashed;
		text-align: left;
		width:625px;
		height: 100px ;
		border-collapse: collapse;
		position: absolute;
		top:0px;
		left:80px;
		
}
.hr2{	position: absolute;
		top:880px;	
		}
hr{		height: 3px;
		width:100vw;
		border:0;
		}
.people{
		text-align: center;	
		width:600px;
		height: 550px;
		border:3px #364D8A dashed;
		border-radius: 10px;
		position: absolute;
		top:270px;
		left:650px;
		font-size: 18px;
		color:#273861;
		font-weight: bold;
		line-height: 40px;
		padding: 10px;
		}
.fb1{	width:50px;
		height:50px;
		position:absolute;
		top:340px;
		left:365px;}
.people2{
		text-align: center;	
		width:600px;
		height: 655px;
		border:3px #364D8A dashed;
		border-radius: 10px;
		position: absolute;
		top:950px;
		left:650px;
		font-size: 18px;
		color:#273861;
		font-weight: bold;
		line-height: 40px;
		margin-bottom:50px;
		margin-top:50px; 
		padding: 10px;
		 }
.peach1{position: absolute;
		top:1000px;
		left:190px;
		animation: vs 1s infinite ease-out;
		}
.peach2{position: absolute;
		top:1430px;
		left:190px;
		animation: vs 1s infinite ease-out;
		}
.peach3{position: absolute;
		top:1000px;
		left:1500px;
		animation: vs 1s infinite ease-out;
		}
.peach4{position: absolute;
		top:1430px;
		left:1500px;
		animation: vs 1s infinite ease-out;
		}
.hr3{	position: absolute;
		top:1780px;	
		}
.people3{
		text-align: center;	
		width:600px;
		height: 600px;
		border:3px #364D8A dashed;
		border-radius: 10px;
		position: absolute;
		top:1900px;
		left:650px;
		font-size: 18px;
		color:#273861;
		font-weight: bold;
		line-height: 40px;
		margin-bottom:50px; 
		margin-top:50px;
		padding: 10px;
		}
.bear1{	width: 200px;
		height: 200px;
		position: absolute;
		top:1950px;
		left:190px;
		animation: vs 1s infinite  ease-out;}
.bear2{	width: 200px;
		height: 200px;
		position: absolute;
		top:2380px;
		left:190px;
		animation: vs 1s infinite 0.5s ease-out;}
.bear3{	width: 200px;
		height: 200px;
		position: absolute;
		top:1950px;
		left:1500px;
		animation: vs 1s infinite  ease-out;}
.bear4{	width: 200px;
		height: 200px;
		position: absolute;
		top:2380px;
		left:1500px;
		animation: vs 1s infinite 0.5s ease-out;}
.hr4{	position: absolute;
		top:2670px;	
		}
.people4{
		text-align: center;	
		width:600px;
		height: 600px;
		border:3px #364D8A dashed;
		border-radius: 10px;
		position: absolute;
		top:2700px;
		left:650px;
		font-size: 18px;
		color:#273861;
		font-weight: bold;
		line-height: 40px;
		padding: 10px;
		margin-bottom:150px; 
		margin-top:50px;
		}
.cat1{	width: 200px;
		height: 200px;
		position: absolute;
		top:2750px;
		left:190px;
		animation: vs 1s infinite  ease-out;}
.cat2{	width: 200px;
		height: 200px;
		position: absolute;
		top:3150px;
		left:190px;
		animation: vs 1s infinite 0.5s ease-out;}
.cat3{	width: 200px;
		height: 200px;
		position: absolute;
		top:2750px;
		left:1500px;
		animation: vs 1s infinite  ease-out;}
.cat4{	width: 200px;
		height: 200px;
		position: absolute;
		top:3150px;
		left:1500px;
		animation: vs 1s infinite 0.5s ease-out;}
.mingi{	width:300px;
		height:240px;
		position: absolute;
		top:70px;
		left: 450px;
		border-radius: 20px;}
.samoya{width:300px;
		height:240px;
		position: absolute;
		top:70px;
		left: 800px;
		border-radius: 20px;
		}
.imtable{
		border-collapse: collapse;
		width:400px;
		position: absolute;
		top:20px;
		left:100px;
		}
.imtable1{
		border-collapse: collapse;
		width:400px;
		position: absolute;
		top:20px;
		left:600px;
}
.boy1{	position: absolute;
		top:570px;
		left:90px;
		font-size: 24px;		
		line-height:50px;
		font-weight: bold;
		color:#313147;
		opacity: 0;		
		animation: im 1s 1.5s forwards;
}
.boybasket{
		width:600px;
		height: 400px;
		position: absolute;
		top:600px;
		left:180px;
		border:12px  #556E76 ridge;		
		}
		@-webkit-keyframes round
		{2%{opacity: 1;}
		10%{opacity: 1;}
		12%{opacity: 0;}
		}
.boybasket img{
		width:600px;
		height: 400px;
		position: absolute;
		top:0;
		left:0;
		opacity: 0;
		}
.boybasket:hover img {		
    	-webkit-animation-play-state: paused;       
		}
.boybasketpic{	
		-webkit-animation: round 50s linear infinite;
		}
.boybasketpic2{	
		-webkit-animation: round 50s  5s linear infinite;
		}
.boybasketpic3{		
		-webkit-animation: round 50s  10s linear infinite;
		}
.boybasketpic4{	
		-webkit-animation: round 50s 15s linear infinite;
		}
.boybasketpic5{	
		-webkit-animation: round 50s 20s linear infinite;
		}
.boybasketpic6{		
		-webkit-animation: round 50s 25s linear infinite;
		}
.boybasketpic7{		
		-webkit-animation: round 50s 30s linear infinite;
		}
.boybasketpic8{		
		-webkit-animation: round 50s 35s linear infinite;
		}
.boybasketpic9{	
		-webkit-animation: round 50s 40s linear infinite;
		}
.boybasketpic10{	
		-webkit-animation: round 50s 45s linear infinite;
		}				
.girl1{	position: absolute;
		top:1100px;
		left:90px;
		font-size: 24px;		
		line-height:50px;
		font-weight: bold;
		color:#313147;
		opacity: 0;
		animation: im 1s 1.5s forwards;
		}
.girlbasket{
		width:600px;
		height: 400px;
		position: absolute;
		top:1130px;
		left:180px;
		border:12px  #F9C5C5 ridge;		
		}
.girlbasket img{
		width:600px;
		height: 400px;
		position: absolute;
		top:0;
		left:0;
		opacity: 0;
		}
.girlbasket:hover img {		
    	-webkit-animation-play-state: paused;       
		}
.girlbasketpic{	
		-webkit-animation: round 50s linear infinite;
		}
.girlbasketpic2{	
		-webkit-animation: round 50s  5s linear infinite;
		}
.girlbasketpic3{		
		-webkit-animation: round 50s  10s linear infinite;
		}
.girlbasketpic4{	
		-webkit-animation: round 50s 15s linear infinite;
		}
.girlbasketpic5{	
		-webkit-animation: round 50s 20s linear infinite;
		}
.girlbasketpic6{		
		-webkit-animation: round 50s 25s linear infinite;
		}
.girlbasketpic7{		
		-webkit-animation: round 50s 30s linear infinite;
		}
.girlbasketpic8{		
		-webkit-animation: round 50s 35s linear infinite;
		}
.girlbasketpic9{	
		-webkit-animation: round 50s 40s linear infinite;
		}
.girlbasketpic10{	
		-webkit-animation: round 50s 45s linear infinite;
		}		

.boy2{	position: absolute;
		top:1640px;
		left:90px;
		font-size: 24px;		
		line-height:50px;
		font-weight: bold;
		color:#313147;
		opacity: 0;
		animation: im 1s 1.5s forwards;
		}
.boyvolleyball{
		width:600px;
		height: 400px;
		position: absolute;
		top:1670px;
		left:180px;
		border:12px  #907292 ridge;		
		}
.boyvolleyball img{
		width:600px;
		height: 400px;
		position: absolute;
		top:0;
		left:0;
		opacity: 0;
		}
.boyvolleyball:hover img {		
    	-webkit-animation-play-state: paused;       
		}
.boyvolleyballpic{	
		-webkit-animation: round 50s linear infinite;
		}
.boyvolleyballpic2{	
		-webkit-animation: round 50s  5s linear infinite;
		}
.boyvolleyballpic3{		
		-webkit-animation: round 50s  10s linear infinite;
		}
.boyvolleyballpic4{	
		-webkit-animation: round 50s 15s linear infinite;
		}
.boyvolleyballpic5{	
		-webkit-animation: round 50s 20s linear infinite;
		}
.boyvolleyballpic6{		
		-webkit-animation: round 50s 25s linear infinite;
		}
.boyvolleyballpic7{		
		-webkit-animation: round 50s 30s linear infinite;
		}
.boyvolleyballpic8{		
		-webkit-animation: round 50s 35s linear infinite;
		}
.boyvolleyballpic9{	
		-webkit-animation: round 50s 40s linear infinite;
		}
.boyvolleyballpic10{	
		-webkit-animation: round 50s 45s linear infinite;
		}	

.girl2{	position: absolute;
		top:2180px;
		left:90px;
		font-size: 24px;		
		line-height:50px;
		font-weight: bold;
		color:#313147;
		opacity: 0;
		animation: im 1s 1.5s forwards;
		}
.girlvolleyball{
		width:600px;
		height: 400px;
		position: absolute;
		top:2210px;
		left:180px;
		border:12px  #4C8C7C ridge;		
		}
.girlvolleyball img{
		width:600px;
		height: 400px;
		position: absolute;
		top:0;
		left:0;
		opacity: 0;
		}
.girlvolleyball:hover img {		
    	-webkit-animation-play-state: paused;       
		}
.girlvolleyballpic{	
		-webkit-animation: round 50s linear infinite;
		}
.girlvolleyballpic2{	
		-webkit-animation: round 50s  5s linear infinite;
		}
.girlvolleyballpic3{		
		-webkit-animation: round 50s  10s linear infinite;
		}
.girlvolleyballpic4{	
		-webkit-animation: round 50s 15s linear infinite;
		}
.girlvolleyballpic5{	
		-webkit-animation: round 50s 20s linear infinite;
		}
.girlvolleyballpic6{		
		-webkit-animation: round 50s 25s linear infinite;
		}
.girlvolleyballpic7{		
		-webkit-animation: round 50s 30s linear infinite;
		}
.girlvolleyballpic8{		
		-webkit-animation: round 50s 35s linear infinite;
		}
.girlvolleyballpic9{	
		-webkit-animation: round 50s 40s linear infinite;
		}
.girlvolleyballpic10{	
		-webkit-animation: round 50s 45s linear infinite;
		}	

.badminton1{
		position: absolute;
		top:2720px;
		left:90px;
		font-size: 24px;		
		line-height:50px;
		font-weight: bold;
		color:#313147;
		opacity: 0;
		animation: im 1s 1.5s forwards;
		}
.badminton2{
		width:600px;
		height: 400px;
		position: absolute;
		top:2750px;
		left:180px;
		border:12px  #EF9E7B ridge;	
		}
.badminton2 img{
		width:600px;
		height: 400px;
		position: absolute;
		top:0;
		left:0;
		opacity: 0;
		}
.badminton2:hover img {		
    	-webkit-animation-play-state: paused;       
		}
.badmintonpic{	
		-webkit-animation: round 50s linear infinite;
		}
.badmintonpic2{	
		-webkit-animation: round 50s  5s linear infinite;
		}
.badmintonpic3{		
		-webkit-animation: round 50s  10s linear infinite;
		}
.badmintonpic4{	
		-webkit-animation: round 50s 15s linear infinite;
		}
.badmintonpic5{	
		-webkit-animation: round 50s 20s linear infinite;
		}
.badmintonpic6{		
		-webkit-animation: round 50s 25s linear infinite;
		}
.badmintonpic7{		
		-webkit-animation: round 50s 30s linear infinite;
		}
.badmintonpic8{		
		-webkit-animation: round 50s 35s linear infinite;
		}
.badmintonpic9{	
		-webkit-animation: round 50s 40s linear infinite;
		}
.badmintonpic10{	
		-webkit-animation: round 50s 45s linear infinite;
		}	
.home{	width:200px;
		height:200px;}
.homediv{
		position:fixed;
		bottom:0;
		right:0;
		width:200px;
		height:200px;
		}
/*video_yifan*/
.te{	width: 630px;
		border: 2px #CA6F1E   dashed ;
		padding:8px;
	 	position: absolute;
	  	top:630px;
	  	left:640px;
	 	background-color:#F9E79F ;
	  	border-radius: 30px;
	  	padding:10px;
	  	animation: im 1s 1.5s forwards;
}
.mp41{ 
	  	font-size:20px;
	  	text-align:center;
	  	font-family:Microsoft JhengHei ;  
	  	line-height:30px;
	  	font-weight: bold;
	  	color:#313147;
	  	opacity: 0;
	  	animation: im 1s 1.5s forwards;}
.mp42{ 	width:630px; 
	  	font-size:18px;
	  	font-family:Microsoft JhengHei ;
	  	text-align:center; 
	  	line-height:30px;
	  	font-weight: bold;
	  	color:#313147;
	  	opacity: 0;
	  	animation: im 1s 1.5s forwards;}
.video1{ 
	  	width:630px;
	  	height:354px;
	  	position: absolute;
	  	left:637px;
	  	top:200px; 
	  	border-radius: 30px;
	  	border: 6px #CA6F1E dashed ;
	  	padding:4px;
	  	
   }
.video2{ 
	  	width:630px;
      	height:354px;
      	border-radius: 30px;
   	  	border: 6px #CA6F1E   dashed ;
  	  	padding:4px;   	  	
   	  	position:absolute;
	  	left: 637px;
	  	top:0px;
   }
.po{	position: absolute;
   	  	top:1000px;}
.sidelight{
	  	border: 2px #CA6F1E   dashed ;
	  	padding:8px;
	  	position: absolute;
	  	font-size:20px;
	  	text-align:center;
	  	font-family:Microsoft JhengHei ;
	  	top:920px;
	  	left:905px;
	  	background-color:#F9E79F ;
	  	border-radius: 30px;
	  	padding:10px;
	  	animation: im 1s 1.5s forwards;
	  	line-height:30px;
	  	font-weight: bold;
	  	color:#313147;
	  	opacity: 0; 
		}
.yi{ 
	  	width: 200px;
	  	height: 200px;
	  	position: absolute;
	  	top:200px;
	  	left:200px;
	  	animation: vs 1s infinite ease-out;
  		}
.yi2{ 
	  	width: 200px;
	  	height: 200px;
	  	position: absolute;
	  	top:600px;
	  	left:200px;
	  	animation: vs 1s infinite ease-out;
 		 }
.yi3{
	  	width: 200px;
	  	height: 200px;
	  	position: absolute;
	  	top:1000px;
	  	left:200px;
	  	animation: vs 1s infinite ease-out;
 		 }
.yi4{ 
	  	width: 200px;
	  	height: 200px;
	  	position: absolute;
	  	top:200px;
	  	left:1500px;
	  	animation: vs 1s infinite ease-out;
		}
.yi5{ 
	  	width: 200px;
	  	height: 200px;
	  	position: absolute;
	  	top:600px;
	  	left:1500px;
	  	animation: vs 1s infinite ease-out;
		}
.yi6{ 
	  	width: 200px;
	  	height: 200px;
	  	position: absolute;
	  	top:1000px;
	  	left:1500px;
	  	animation: vs 1s infinite ease-out;
		}
/*video_yifan*/
.bigg{	widows:200px ;
		height: 200px;
		position: absolute;
		top:-80px;
		left: 1100px;
		}
.tea1{	width:420px;
		height:300px;
		position: absolute;
		top:230px;
		left: 50px;
		opacity: 0;
		border-radius: 20px; 
		animation: im 1s 1.5s forwards;
		border:8px #FFE075 dashed ;}
.tea2{	width:420px;
		height:300px;
		position: absolute;
		top:230px;
		left:600px;
		opacity: 0;
		border-radius: 20px; 
		animation: im 1s 1.5s forwards;
		border:8px #FFE075 dashed ;}
.dogdiv{float:left;
		width:65vw;
		height: 1700px;
		position: absolute;
		top:180px;
        left:24vw;}
.imbst{	width:600px;
		height: 400px;
		position: absolute;
		top:150px;
		left:185px;
		border:8px  #323A51 dashed;
		border-radius: 20px;}
.imbst img{
		width:600px;
		height: 400px;
		border-radius: 20px;
		position: absolute;
		top:0;
		left:0;
		opacity: 0;
		}
.imbst:hover img {		
    	-webkit-animation-play-state: paused;       
		}
.imbstpic{	
		-webkit-animation: round 50s linear infinite;
		}
.imbstpic2{	
		-webkit-animation: round 50s  5s linear infinite;
		}
.imbstpic3{		
		-webkit-animation: round 50s  10s linear infinite;
		}
.imbstpic4{	
		-webkit-animation: round 50s 15s linear infinite;
		}
.imbstpic5{	
		-webkit-animation: round 50s 20s linear infinite;
		}
.imbstpic6{		
		-webkit-animation: round 50s 25s linear infinite;
		}
.imbstpic7{		
		-webkit-animation: round 50s 30s linear infinite;
		}
.imbstpic8{		
		-webkit-animation: round 50s 35s linear infinite;
		}
.imbstpic9{	
		-webkit-animation: round 50s 40s linear infinite;
		}
.imbstpic10{	
		-webkit-animation: round 50s 45s linear infinite;
		}	
.yt1{	width:560px;
		height: 315px;
		position: absolute;
		top:650px;
		left:210px;
		border:8px  #323A51 dashed;
		border-radius: 20px;}
.yt1video{
		border-radius: 20px;
		}
.yt2{	width:560px;
		height: 315px;
		position: absolute;
		top:1050px;
		left:210px;
		border:8px  #323A51 dashed;
		border-radius: 20px;}
.yt2video{
		border-radius: 20px;
}

.nightdiv{
		float:left;
		width:65vw;
		height: 1700px;
		position: absolute;
		top:180px;
        left:24vw;
}
.night{	width:600px;
		height: 400px;
		position: absolute;
		top:130px;
		left:185px;
		border-radius: 20px;
		border:8px  #D18383 dashed;
		}
.night img{
		width:600px;
		height: 400px;
		position: absolute;
		top:0;
		left:0;
		opacity: 0;
		border-radius: 20px;

		}
.night:hover img {		
    	-webkit-animation-play-state: paused;       
		}
.nightpic{	
		-webkit-animation: round 50s linear infinite;
		}
.nightpic2{	
		-webkit-animation: round 50s  5s linear infinite;
		}
.nightpic3{		
		-webkit-animation: round 50s  10s linear infinite;
		}
.nightpic4{	
		-webkit-animation: round 50s 15s linear infinite;
		}
.nightpic5{	
		-webkit-animation: round 50s 20s linear infinite;
		}
.nightpic6{		
		-webkit-animation: round 50s 25s linear infinite;
		}
.nightpic7{		
		-webkit-animation: round 50s 30s linear infinite;
		}
.nightpic8{		
		-webkit-animation: round 50s 35s linear infinite;
		}
.nightpic9{	
		-webkit-animation: round 50s 40s linear infinite;
		}
.nightpic10{	
		-webkit-animation: round 50s 45s linear infinite;
		}
.yt3{	width:560px;
		height: 315px;
		position: absolute;
		top:630px;
		left:210px;
		border-radius: 20px;
		border:8px  #D18383 dashed;}
.yt3video{
		border-radius: 20px;
		
}
.yt4{	width:560px;
		height: 315px;
		position: absolute;
		top:1050px;
		left:210px;
		border-radius: 20px;
		border:8px  #D18383 dashed;}
.yt4video{
		border-radius: 20px;
}
.play{	width:600px;
		height: 400px;
		position: absolute;
		top:130px;
		left:185px;
		border-radius: 20px;
		border:10px  #3C8659 dashed;}
.play img{
		width:600px;
		height: 400px;
		border-radius: 20px;
		position: absolute;
		top:0;
		left:0;
		opacity: 0;
		}
.play:hover img {		
    	-webkit-animation-play-state: paused;       
		}
.playpic{	
		-webkit-animation: round 50s linear infinite;
		}
.playpic2{	
		-webkit-animation: round 50s  5s linear infinite;
		}
.playpic3{		
		-webkit-animation: round 50s  10s linear infinite;
		}
.playpic4{	
		-webkit-animation: round 50s 15s linear infinite;
		}
.playpic5{	
		-webkit-animation: round 50s 20s linear infinite;
		}
.playpic6{		
		-webkit-animation: round 50s 25s linear infinite;
		}
.playpic7{		
		-webkit-animation: round 50s 30s linear infinite;
		}
.playpic8{		
		-webkit-animation: round 50s 35s linear infinite;
		}
.playpic9{	
		-webkit-animation: round 50s 40s linear infinite;
		}
.playpic10{	
		-webkit-animation: round 50s 45s linear infinite;
		}
.moneydiv{
		font-size:28px;
		font-weight: bolder;
		color:#744141;
		position: absolute;
		top:460px;
		background-color: #D7C1C1;
		border:10px #7E9C84 double;
		border-radius: 40px 10px 40px 10px;
		padding: 10px;
		opacity: 0;
		animation: im 1s 0.5s forwards;
		}
.moneytable{
		width:500px;
		position: absolute;
		top:570px;
		left:100px;
		border-collapse: collapse;
		border:5px #805A44 dashed;		
		text-align: center;
		opacity: 0;
		animation: im 1s 1.5s forwards;	
		font-size: 18px;			
		font-weight: bold;
		color:#313147;

		}
.td5{	border-collapse: collapse;
		border:3px #796F57 dashed;
		padding-top: 10px;
		padding-bottom: 10px;
	}
.td6{	padding-top: 15px;
		padding-bottom: 15px;
		color:#922E1E;
		font-size: 22px;}
.moneypng{
		width: 100px;
		height: 100px;
		position: absolute;
		top:440px;
		left: 250px;
		opacity: 0;
		animation: im 1s 1.5s forwards;	
}
.moneypng1{
		width: 200px;
		height: 200px;
		position: absolute;
		top:700px;
		left: 850px;
		opacity: 0;
		animation: im 1s 1.5s forwards;
}
.moneypng2{
		width: 200px;
		height: 200px;
		position: absolute;
		top:700px;
		left: 650px;
		opacity: 0;
		animation: im 1s 1.5s forwards;
}
.preferdiv{
		font-size: 18px;
		color:#313147;
		font-weight: bolder;
		position:absolute;
		top:360px;
		left: 50px;
		line-height: 30px;
		opacity: 0;
		animation: im 1s 1.5s forwards;
}
.preferp{
		font-size: 22px;
		color:#70517B;
}
.wengian{
		width:200px;
		height:200px;
		position:absolute;
		top:0px;
		left:1100px;
		animation:png 3s ease-out infinite;
	}
		@-webkit-keyframes png
		{0%{transform:scale(0.8);}
		50%{transform:scale(1);}
		100%{transform:scale(0.8);}
		}
.adjust{
		width:200px;
		height:200px;
		position:absolute;
		top:500px;
		left:1100px;
		animation:png 3s 0.5s ease-out infinite;
	}
.tablecomputer{		
		position:absolute;
		top:800px;
		left:650px;
		animation:png 3s 1s ease-out infinite;
	}
.robot{	width:150px;
		height:150px;
		position:absolute;
		top:0px;
		left:1100px;
		animation:robot 3s linear infinite;
	}
		@-webkit-keyframes robot
		{
		0%{transform:translateY(0px);}
		25%{transform:translateY(200px);}		
		50%{transform:translateY(380px);}
		75%{transform:translateY(200px);}
		100%{transform:translateY(0px);}			
		}
.circlepng{
		width:300px;
		height:300px;
		position:absolute;
		top:200px;
		left:900px;
		animation:cir 8s  linear infinite;
}
		@-webkit-keyframes cir
		{
		0%{transform:rotate(60deg);}
				
		50%{transform:rotate(180deg);}
	
		100%{transform:rotate(60deg);}			
		}
.dance{	width:280px;
		height:280px;
		position:absolute;
		top:680px;
		left:900px;}
.boyfan{width:400px;
		height:273px;
		position:absolute;
		top:1100px;
		left:800px;
}
.play2{	width:300px;
		height:300px;
		position:absolute;
		top:100px;
		left:950px;}
.magic{	width:200px;
		height:280px;
		position:absolute;
		top:420px;
		left:800px;
		transform:rotate(-10deg);}
.two{	width:450px;
		height:280px;
		position:absolute;
		top:720px;
		left:900px;}
.dance2{width:400px;
		height:270px;
		position:absolute;
		top:1120px;
		left:900px;}
.lala{	width:250px;
		height:250px;
		position:absolute;
		top:80px;
		left:850px;}
.pigrun{width:250px;
		height:300px;
		position:absolute;
		top:300px;
		left:1100px;		
}
.v2{	width: ;}